@media screen and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    body {
        background-size: cover;
    }
    /*index*/

    /*.carousel-item {
        margin: 0px;
        height: 25%;
        width: 25%;
    }*/
    
    img {
        text-align: center;
        height: 80%;
        width: 90%;
    }

    /* ilustración y arte botánica*/

    .row{
        display: flex;
        flex-direction: column;
    }

    .col{
        width: 80%;
        height: 80%;
        justify-content: space-around;
    }

    /* contacto */
    .mb-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 20%;
    }
    
    
}